body {
  margin: 0;
  font-family: "Typo_Round_Regular_Demo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #508593;
}
@font-face {
  font-family: "Typo_Round_Regular_Demo";
  src: url("../fonts/Typo_Round_Regular_Demo.otf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: inherit;
}
